<navbar>
  <div class="nav">
    <a href="/"> <img src="img/loom.png" class="loomLogo" /> </a>
    <div class="iconNavi">
      <a href="/logout"> <button class="logOutBtn">Log out</button> </a>
    </div>
  </div></navbar
>
