<navbar>
  <div class="nav">
    <a href="/">
      <img src="../../../img/loom.png" class="loomLogo" />
    </a>
    <div class="iconNavi">
      <!-- <i class="fas fa-search"></i>
      <i class="far fa-bell"></i> -->

      <a href="/login">
        <button class="logOutBtn">Sign In</button>
      </a>
    </div>
  </div>
</navbar>
