<style>
  body {
    overflow: hidden;
  }
  .err img {
    width: 40vw;
    height: 50vh;
  }
</style>

<%if(currentUser){%>
<link rel="stylesheet" href="./css/setting.css" />
<%}else{%>
<link rel="stylesheet" href="./css/login.css" />
<%}%>
<link rel="stylesheet" href="" />
<div
  class="err"
  style="
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
  "
>
  <img src="./img/404.jpeg" alt="" />
</div>
