<style>
  body {
    overflow: hidden;
  }
  .err img {
    width: 40vw;
    height: 50vh;
  }
  .alert {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 38vw;
    text-align: center;
  }
</style>

<%if(currentUser){%>
<link rel="stylesheet" href="./css/setting.css" />
<%}else{%>
<link rel="stylesheet" href="./css/login.css" />
<%}%>
<link rel="stylesheet" href="" />
<div
  class="err"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
  "
>
  <div class="alert alert-danger" role="alert">PAGE NOT FOUND!!!</div>

  <img src="./img/404.jpeg" alt="" />
</div>
