<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <navbar>
      <div class="nav">
        <a href="/">
          <img src="img/loom.png" class="loomLogo" />
        </a>
        <div class="iconNavi">
          <!-- <i class="fas fa-search"></i>
        <i class="far fa-bell"></i> -->

          <button class="btn"><a href="/login">Sign In</a></button>
        </div>
      </div>
    </navbar>
    <div class="fullContainer">
      <div class="firstContainer">
        <h1>Show it, say it, send it</h1>
        <p>
          Record quick videos of your screen and cam. An essential tool for
          hybrid workplaces.
        </p>
        <a href="#">
          <button class="getBtn">Get For Free</button>
        </a>
        <p>For Mac, Windows, iOS, and Android</p>
      </div>
      <div class="secondContainer">
        <!-- <h1>Image</h1> -->
        <img src="img/mainimage.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
