<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home.css">
    <meta
      name="google-signin-client_id"
      content="198561696099-flasriqkqqlkn2db9ttq6ellso1g6kdn.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>RECORDER</h1>
      <div class="box">
        <button><a href="/register">Register</a></button> &nbsp; &nbsp;/&nbsp;&nbsp;&nbsp;
        <button><a href="/login">Login</a></button>
        <h3>OR</h3>
       
        <div class="g-signin2"  data-onsuccess="onSignIn"></div>
      </div>
    </div>
    
    
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>

    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var id_token = googleUser.getAuthResponse().id_token;
       

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/googleLogin");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
          console.log(id_token);
          console.log("Signed in as: " + xhr.responseText);
          if (xhr.responseText == "success") {
            signOut();
            location.assign("/loginSuccess");
          }
        };
        xhr.send(JSON.stringify({ token: id_token }));
      }
    </script>
  </body>
</html>

  </body>
</html>
