@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #f8f6f0;
  height: 91px;
}

.loomLogo {
  width: 11rem;
  margin: -1rem 2rem;
  position: absolute;
  z-index: 1;
}
.iconNavi {
  margin: 35px;
  padding: -3px;
}
.iconNavi i {
  padding: 1px 12px;
}
.fullContainer {
  display: flex;
  position: fixed;
  top: 0px;
  background-color: #f7f7f8;
  height: 43em;
  width: 19em;
  padding: 19px 19px;
}
.firstContainer {
  position: relative;
  top: 109px;
}
.threeContainer {
  display: flex;
  padding: 7px;
}
.threeContainer i {
  padding: 5px;
}
