@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 2px solid #cf13c0;
  box-shadow: 0 2px 4px 3px rgb(0 0 0 / 30%);
}

.container h1 {
  text-align: center;
  color: #cf13c0;
  text-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
