<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/afb23c7fce.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./css/admin.css" />
    <title>Document</title>
  </head>
  <body>
    <navbar>
      <div class="nav">
        <a href="/">
          <img src="img/loom.png" class="loomLogo" />
        </a>
        <div class="iconNavi">
          <i class="fas fa-search"></i>
          <i class="far fa-bell"></i>
          <button>Log out</button>
        </div>
      </div>
    </navbar>
    <div class="fullContainer">
      <div class="firstContainer">
        <h3>libraries</h3>
        <div class="threeContainer">
          <i class="fas fa-user"></i>
          <h2>Personal</h2>
        </div>
        <div class="threeContainer">
          <i class="fas fa-user-friends"></i>
          <h2>Shared with Me</h2>
        </div>
        <div class="threeContainer">
          <i class="fas fa-users"></i>
          <h2>Personal</h2>
        </div>
      </div>
    </div>
    <div class="videoContainer">
      <button>Add Video</button>
    </div>
  </body>
</html>
