<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../css/video.css" />

    <script
      src="https://kit.fontawesome.com/afb23c7fce.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <navbar>
      <div class="nav">
        <a href="/">
          <img src="../../img/loom.png" class="loomLogo" />
        </a>
        <div class="iconNavi">
          <i class="fas fa-search"></i>
          <i class="far fa-bell"></i>
          <a href="/logout">
            <button class="logOutBtn">Log out</button>
          </a>
        </div>
      </div>
    </navbar>
    <div class="fullContainer">
      <div class="firstFullContainer">
        <div class="firstContainer">
          <h3>libraries</h3>
          <div class="threeContainer">
            <i class="fas fa-user"></i>
            <h2>Personal</h2>
          </div>

          <div class="threeContainer">
            <i class="fas fa-user-friends"></i>
            <h2>Shared with Me</h2>
          </div>
          <div class="threeContainer">
            <i class="fas fa-users"></i>
            <h2>Personal</h2>
          </div>
        </div>
      </div>

      <section>
        
      </section>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/afb23c7fce.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../css/setting.css" />
    <title>Document</title>
  </head>
  <body>
    <navbar>
      <div class="nav">
        <a href="/">
          <img src="img/loom.png" class="loomLogo" />
        </a>
        <div class="iconNavi">
          <i class="fas fa-search"></i>
          <i class="far fa-bell"></i>
          <a href="/logout">
            <button class="logOutBtn">Log out</button>
          </a>
        </div>
      </div>
    </navbar>
    <div class="fullContainer">
      <div class="firstFullContainer">
        <div class="firstContainer">
          <h3>libraries</h3>
          <div class="threeContainer">
            <a href="/home">
              <i class="fas fa-user"></i>
              <h2>Personal</h2>
            </a>
          </div>
          <div class="threeContainer">
            <a href="/me">
              <i class="fas fa-user-friends"></i>
              <h2>Shared with Me</h2>
            </a>
          </div>
          <div class="threeContainer">
            <a href="/team">
              <i class="fas fa-users"></i>
              <h2>Team</h2>
            </a>
          </div>
          <div class="threeContainer selected">
            <a href="/settings">
              <i class="fas fa-cog"></i>
              <h2>Settings</h2>
            </a>
          </div>
        </div>
      </div>
      <section>
        <div class="setting">
          <div class="heading">
            <h2><%=user.username%></h2>
            <h1>Video Details</h1>
          </div>
          <!-- <div class="navigationLink">
            <a href="#" class="selectedLink">My Account</a>
            <a href="#" class="notSelected">Notifications</a>
            <a href="#" class="notSelected">Integrations</a>
          </div> -->
          <div class="videoContainer">
            <!-- <video src= type="video/mp4"></video> -->
            <video width="1020" height="640" controls>
              <source src="<%=video.url%>" type="video/mp4" />
            </video>
            <p style="text-align: center">Video Name: <%=video.fileName%></p>

            <!-- <button>Add Video</button> -->
          </div>
          <div class="nameAndPhoto">
            <!-- <h2>Name and photos</h2> -->
            <!-- <div class="circleBox">
              <i class="fas fa-camera"></i>
            </div> -->

            <form>
              <label for="firstName">Team Email: </label>
              <input type="text" name="firstName" value="" />
              <!-- <label for="lastName">Last name: </label>
              <input type="text" name="lastName" value="Joshi" /> -->
              <div class="buttonsForName">
                <button type="submit" class="saveBtn">Add</button>
                <button type="submit" class="saveBtn">Edit</button>
                <button type="submit" class="cancelBtn">Delete</button>
              </div>
            </form>
            <form action="">
              <label for="notes">Meeting Notes:</label>
              <textarea type="text" id="notes"></textarea>
            </form>
          </div>
          <div class="contactInfoUpdates">
            <h2>User Videos List</h2>
            <!-- <h3>
              Access your Loom Workspaces with any email address, or by
              connecting an account.
            </h3> -->
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
